/*Landing.js*/
body {
  background: #9cb8b3;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.video {
  margin-top: 100px;
  margin-left: 350px;
  padding-top: 100px;
  width: 560px; 
  height: 415px;
}
.signIn {
  margin-right: 10px;
  text-decoration: none;
}
.signUp {
  margin-right: 50px;
  text-decoration: none;
}
.img {

}
.title {
  text-align: left;
  color: black;
  margin-left: 30px;
  font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    top: 2%;
    width: 600px;
}
.whatIs {
  color: rgb(107,107,67);
  height: 75px;
}
.infOf {
  background-color:#ffd480;
  height: 300px;
  height: auto;

}
.firstC {
  background-image: black;
}

/*Landing.js* End***/